.container >*:nth-child(1), .container >*:nth-child(2) {
	width: 100%;
}

.container >*:nth-child(2) {
    margin-left: unset;
}
header {
    background: #455a64;
}

.name {
    color: lightgray;
    text-align: center;
}

.whiteblock_title {
    margin: 0 10px;
    text-align: center;
}

.education_now, .education_past, .jobs_now, .jobs_past {
    margin: 50px 10px;
}

.period, .status {
    width: auto;
}

.period {
	width: 30%;
	text-align: left;
	display: flex;
	align-items: baseline;
	margin-top: 2px;
}

.status {
	text-align: justify;
	width: 60%;
	margin-left: 15px;
}

footer {
    flex-direction: column-reverse;
}

.recommendation1 {
    margin-bottom: 20px;
}

