body {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-weight: normal;
	border: 1px solid black;
}


                    /* CSS CONTAINER */


.container {
	display: flex;
	flex-wrap: wrap;
}

.container >*:nth-child(1) {
	width: 30%;
	background: #455A64;
}

.container >*:nth-child(2) {
	width: 60%;
	margin-left: 45px;
}


                    /* CSS ICONES */


.fa-map-marker-alt, .fa-mobile-alt, .fa-envelope, .fa-github {
    color: darkgoldenrod;
    font-size: 20px;
}

.fa-dot-circle, .fa-circle {
    color: darkgoldenrod;
}

.fa-briefcase, .fa-pencil-alt, .fa-graduation-cap {
    color: darkgoldenrod;
    font-size: 30px;
}

.fa-futbol, .fa-gamepad, .fa-plane-departure {
	margin: 10px;
	padding: 10px;
	color: darkgoldenrod;
	border: 3px solid darkgoldenrod;
	border-radius: 50%;
	font-size: 30px;
}


                    /* CSS HEADER */


header .picture {
	text-align: center;
	padding: 50px 0;
}

header .picture img {
	width: 50%;
	border-radius: 50%;
	border: 5px solid rgb(55,71,79);
}

.name {
	margin: auto;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

.name span {
	border-bottom: 2px solid darkgoldenrod;
}

strong {
	color: darkgoldenrod;
}


                    /* CSS PARTIE COLORÉE */


.coloredblock h2 {
	text-align: center;
	background-color: darkgoldenrod;
	padding: 10px 0;
	text-shadow: 0 0 5px lightgray;
}


address ul {
	list-style-type: none;
}

address ul li {
	padding: 10px;
	margin: 20px;
}

address span {
	color: lightgray;
	margin-left: 5px;
}
.about_me p {
	text-align: justify;
	margin: 50px;
	color: lightgray;
}

a {
	text-decoration: none;
	color: lightgray;
}

                    /* PARTIE BLANCHE */


.whiteblock_title {
	border-bottom: solid darkgoldenrod;
}

.education_now, .education_past, .jobs_now, .jobs_past {
	display: flex;
	margin: 50px 0;
}

.period {
	width: 30%;
	text-align: left;
	display: flex;
	align-items: baseline;
	margin-top: 2px;
}

.status {
	text-align: justify;
	width: 60%;
	margin-left: 15px;
}

.period p {
	margin-left: 10px;
}


                    /* CSS FOOTER */


.coloredblock div {
	text-align: center;
	margin: 20px;
}

.recommendations {
	display: flex;
	justify-content: space-evenly;
	margin: 50px auto;
}
