body {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-weight: normal;
}



                    /* CSS CONTAINER */



.container {
	display: flex;
	flex-wrap: wrap;
}

.container >*:nth-child(1) {       /* Largeur du premier enfant */
	width: 30%;
	background: #455A64;
}

.container >*:nth-child(2) {       /* Largeur du deuxième enfant */
	width: 60%;
	margin-left: 45px;
}



                    /* CSS ICONES */



.fa-map-marker-alt, .fa-mobile-alt, .fa-envelope, .fa-github {  /* icones de la partie contact */
    color: darkgoldenrod;
    font-size: 20px;
}

.fa-dot-circle, .fa-circle {         /* icones des périodes de formation et expériences pro */
    color: darkgoldenrod;
}

.fa-briefcase, .fa-pencil-alt, .fa-graduation-cap {      /* icones des titres des sections */
    color: darkgoldenrod;
    font-size: 30px;
}

.fa-futbol, .fa-gamepad, .fa-plane-departure {          /* icones de la partie loisirs */
	margin: 10px;
	padding: 10px;
	color: darkgoldenrod;
	border: 3px solid darkgoldenrod;
	border-radius: 50%;
	font-size: 30px;
}



                    /* CSS HEADER */



header .picture {				/* alignement de la photo et marge intérieurs */
	text-align: center;
	padding: 50px 0;
}

header .picture img {			/* largeur de la photo arrondie et bordure */
	width: 50%;
	border-radius: 50%;
	border: 5px solid rgb(55,71,79);
}

.name {							/* marge du bloc nom, prénom, profession */
	margin: auto;
}

h1 {							/* taille nom et prénom */
	font-size: 3em;
	font-weight: normal;
}

h2 {							/* taille profession */
	font-size: 1.5em;
}

.name span {					/* syllabe soulignée */
	border-bottom: 2px solid darkgoldenrod;
}

strong {						/* changement couleur prénom */
	color: darkgoldenrod;
}



                    /* CSS PARTIE COLORÉE */



.coloredblock div {				/* mise en forme des contacts */
	text-align: center;
	margin: auto;
	padding: 20px 0;
}

.coloredblock h2 {				/* alignement, mise en forme des titres */
	margin: auto;
	text-align: center;
	background-color: darkgoldenrod;
	padding: 10px 0;
	text-shadow: 0 0 5px lightgray;
}


address ul {					/* disparition des puces */
	list-style-type: none;
}

address ul li {					/* mise en forme des la partie contact */
	padding: 10px;
	margin: 20px;
}

address span {
	color: lightgray;
	margin-left: 5px;
}
.about_me p {					/* mise en forme du texte "à propos de moi" */
	text-align: justify;
	margin: 50px;
	color: lightgray;
}

a {								/* changement couleur des liens */
	text-decoration: none;
	color: lightgray;
}


                    /* PARTIE BLANCHE */



.whiteblock_title {				/* couleur bordure basse des titres du bloc blanc */
	border-bottom: solid darkgoldenrod;
}

.education, .jobs {				/* disposition et mise en forme des sections */
	display: flex;
	margin: 50px 0;
}

.period {						/* mise en forme "des périodes" */
	width: 30%;
	text-align: left;
	display: flex;
	align-items: baseline;
	margin-top: 2px;
}

.status {						/* mise en forme des status */
	text-align: justify;
	width: 60%;
	margin-left: 15px;
}

.period p {						/* marge extérieur "des périodes" */
	margin-left: 10px;
}



                    /* CSS FOOTER */



.recommendations {				/* disposition et mise en forme de la partie recommandations */
	display: flex;
	justify-content: space-evenly;
	margin: 50px auto;
}


